# Django
*.pyc
*~
__pycache__/
*.log
local_settings.py
db.sqlite3
media/
static/

# Environnement virtuel
venv/
env/
ENV/
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Base de données
*.db
*.sqlite3

# Migrations (optionnel - à discuter)
# reservation/migrations/

# Fichiers de configuration locaux
.env
*.local